
<div class="container-fluid" style="margin-top:50px;">
    <div class="row">
        <div class="col pt-2">
        <app-weatherwidget name="London" ></app-weatherwidget>
        </div>
        <div class="col pt-2">
          <app-weatherwidget name="Washington"></app-weatherwidget>
        </div>
        <div class="col pt-2">
            <app-weatherwidget name="Delhi"></app-weatherwidget>
        </div>
        <div class="col pt-2">
            <app-weatherwidget name="Sydney"></app-weatherwidget>
        </div>
    </div>
  </div>