
<form class="form-group">
      <input type="text" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" class="form-control" id="usr"><input type="submit" class="form-control btn btn-primary submit" value="Search">
</form>
<div class="card" style="margin:75px auto 0 auto;">
    <div class="card-body">
      <h5 class="card-title">{{city}}, {{country}}</h5>
      <p>{{weather}}</p>
      <img bind-src="imgsrc" alt="Card image cap" width="100" height="100">
      <p class="temp">{{temp}} <sup>o</sup>C</p>
    </div>
    <div class="card-body card-sm1">
      <p class="card-sm"><img src="../../../assets//Images/icon-compass.png"> {{deg}} <sup>o</sup></p>
      <p class="card-sm"><img src="../../../assets//Images/icon-umberella.png"> {{pressure}}</p>
      <p class="card-sm"><img src="../../../assets//Images/icon-wind.png"> {{wind}}<sub>km/h</sub></p>
    </div>
 </div>