<div class="space"></div>
<div class="main">
  <div class="top">
    <span style="text-align:left">Weather</span><span style="float:right">{{date}}</span>
  </div>
  <div class="second">
    <span class="city">{{city}}</span><br>
    <div class="space"></div>
    <span class="temp">{{temp}}<sup>o</sup>C  <img height="50" width="50" src="../../../assets/Images/icon-wind.png"></span><br>
    <div class="space"></div>
    <span class="span">
      <img src="../../../assets/Images/icon-compass.png">
      East
    </span>
    <span class="span">
        <img src="../../../assets/Images/icon-umberella.png">
        20%
    </span>
    <span class="span">
        <img src="../../../assets/Images/icon-wind.png">
        18 km/hr
    </span>
  </div>
</div>
