.form{
    width:60%;
    height:40px;
    padding-top: 100px;
    margin: auto;
}

.form input{
    width:80%;
    background-color: #1e202b;
    border-radius: 10px;
    border: 1px solid #1e202b;
    padding:10px;
    font-size:15px;
    float: left;
}

.form input[type="submit"]{
    width:10%;
    float: left;
    background-color: #009ad8;
    border-radius: 10px;
    border: 1px solid #1e202b;
    padding:10px;
    font-size:15px;
}

.pac-container{
    padding-left:42px;
    padding-right:10px;
    margin-left: -45px;
    margin-top:20px;
    width: 600px !important;
    height: 189px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.36);
  }